*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.div-2{
    padding: 20px 50px;
    border: none;
    background: linear-gradient(90.35deg, blue, rgb(239, 80, 59));
border-radius: 20px;
}
.div{
    display: flex;
    justify-content: center;
    
}
